.center_element {
    text-align: center;
}

table,
th,
td {
    border: 1px solid;
    padding: 20px;
    text-align: center;
}

.right_element {
    text-align: right;
}

table {
    margin-left: auto;
    margin-right: auto;
}
